@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  background: hsl(125, 46%, 60%);
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  -webkit-box-shadow: -2px 1px 21px -6px rgba(156, 200, 174, 1);
  -moz-box-shadow: -2px 1px 21px -6px rgba(156, 200, 174, 1);
  box-shadow: -2px 1px 21px -6px rgba(156, 200, 174, 1);
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  color: #fff;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: hsl(125, 46%, 20%);
}

.about {
  padding: 120px 0;
}

.about .title {
  font-size: 35px;
}

.about p {
  padding-top: 20px;
  text-align: justify;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
  color: crimson;
}

.social-icons {
  display: none;
}

@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }

  .icon {
    display: block;
    transition: transform 0.3s ease;
  }

  .icon:hover {
    transform: rotate(90deg);
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 400px;
    background: #fff;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-box-shadow: -2px 1px 21px -6px rgba(156, 200, 174, 1);
    -moz-box-shadow: -2px 1px 21px -6px rgba(156, 200, 174, 1);
    box-shadow: -2px 1px 21px -6px rgba(156, 200, 174, 1);
  }

  .navbar .menu-list.active {
    left: 0%;
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
    color: #000;
  }

  .menu-list li a:hover {
    color: hsl(125, 46%, 40%);
  }

  .menu-list li:nth-child(2) {
    margin-top: 20%;
  }

  .social-icons {
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  .social-icons a {
    margin: 0 1rem;
  }
}

/*  */
/*  */
/*  */
/*  */

.hero {
  position: relative;
}

.hero-title {
  color: hsl(177, 46%, 65%);
  font-size: clamp(2.5rem, 10vw + 0.5rem, 6rem);
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
/* 
.hero-image {
  -webkit-mask-image: url("pngwing.com.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery > img {
  height: 380px;
  flex: 1;
  object-fit: cover;
}
